.send-messages-button {
    background-color: #4CAF50; /* Green background */
    border: none;
    position: fixed;
    color: white; /* Text color */
    top: 26px;
    right: 180px; /* Adjust this value to position it appropriately */
    padding: 10px 20px; /* Padding */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px; /* Rounded corners */
  }
  
  .send-messages-button:hover {
    background-color: #45a049; /* Darker green on hover */
  }
  .send-messages-button:disabled {
    background-color: #45a049; /* Keep the same green background */
    cursor: not-allowed; /* Change the cursor to indicate it's disabled */
    opacity: 0.7; /* Optional: slightly reduce opacity for a subtle disabled effect */
  }