.statistics-button {
    position: fixed;
    top: 10px;
    right: 108px; /* Adjust this value to position it appropriately */
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .statistics-button:hover {
    background-color: #0056b3;
  }
  